body {
    background-color: rgb(37, 36, 36);
}

.TUBE_LIGHT {
    width: 50px;
    height: 500px;
    border: 1.5px solid;
    border-bottom-left-radius: 550px;
    border-bottom-right-radius: 550px;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    margin-right: 550px;
    box-shadow: 0 0 110px 30px #fdfdfc;
    background-color: #fcfbf7;

}
